In [1]:
from __future__ import print_function, division
%matplotlib inline
import os
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import geopandas as gpd

DEVELOPE = True

In [2]:
#taxi
df = pd.read_csv('data/clean_taxi_data.csv', index_col=0)
print ("Shape of data\n{}".format(df.shape))
df.head()

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

Shape of data
(12316008, 13)

,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,hour,dayofweek,dayofyear,timerange,day_and_hour,geohash_pickup,geohash_dropoff,airport_as_destination
0,1,-73.993896,40.750111,-73.974785,40.750618,19,Thursday,15,1083,1519,SHG1a,SHG1X,0
1,1,-74.001648,40.724243,-73.994415,40.759109,20,Saturday,10,1190,1020,SHG2O,SHG1_,0
2,1,-73.963341,40.802788,-73.951820,40.824413,20,Saturday,10,603,1020,SHBJ@,SHBJ_,0
3,1,-74.009087,40.713818,-74.004326,40.719986,20,Saturday,10,112,1020,SHGCP,SHGC_,0
4,1,-73.971176,40.762428,-74.004181,40.742653,20,Saturday,10,1159,1020,SHG1R,SHGDK,0

In [3]:
#FHV
df_fhv = pd.read_csv('data/clean_FHV_data.csv', index_col=0)
print ("Shape of data\n{}".format(df_fhv.shape))
df_fhv.head()

Shape of data
(706, 2)

   day_and_hour  FHV_count
0            10       7455
1           100       5080
2           101       3551
3          1010       3342
4          1011       3666

In [4]:
#weather
df_wea = pd.read_csv('data/clean_weather_data.csv', index_col=0)
print ("Shape of data\n{}".format(df_wea.shape))
df_wea.head()

Shape of data
(31, 22)

,DATE,DAILYSunrise,DAILYSunset,wind_speed_average,precipitation,snowfall,snow_depth,temperature_max,temperature_min,fastest_2minute_windspeed,...,ice_pellets,glaze_rime,smoke_haze,mist,drizzle,ice_fog,EVENT_TYPE,year,month,dayofyear
732,2015-01-01,720,1639,7.16,0.00,0.0,0.0,39.0,27.0,17.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1,1
733,2015-01-02,720,1640,7.16,0.00,0.0,0.0,42.0,35.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1,2
734,2015-01-03,720,1641,6.49,0.71,0.0,0.0,42.0,33.0,12.1,...,0.0,0.0,1.0,0.0,0.0,0.0,-1,2015,1,3
735,2015-01-04,720,1642,6.49,0.30,0.0,0.0,56.0,41.0,29.1,...,0.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1,4
736,2015-01-05,720,1643,10.51,0.00,0.0,0.0,49.0,21.0,23.9,...,0.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1,5

## Merge

In [5]:
df = df.merge(df_fhv, on='day_and_hour', how='left')
df = df.merge(df_wea, on='dayofyear', how='left')

In [6]:
df.head()

,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,hour,dayofweek,dayofyear,timerange,day_and_hour,...,heavy_fog,ice_pellets,glaze_rime,smoke_haze,mist,drizzle,ice_fog,EVENT_TYPE,year,month
0,1,-73.993896,40.750111,-73.974785,40.750618,19,Thursday,15,1083,1519,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1
1,1,-74.001648,40.724243,-73.994415,40.759109,20,Saturday,10,1190,1020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1
2,1,-73.963341,40.802788,-73.951820,40.824413,20,Saturday,10,603,1020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1
3,1,-74.009087,40.713818,-74.004326,40.719986,20,Saturday,10,112,1020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1
4,1,-73.971176,40.762428,-74.004181,40.742653,20,Saturday,10,1159,1020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1,2015,1

In [7]:
df.count()

passenger_count              12316008
pickup_longitude             12316008
pickup_latitude              12316008
dropoff_longitude            12316008
dropoff_latitude             12316008
hour                         12316008
dayofweek                    12316008
dayofyear                    12316008
timerange                    12316008
day_and_hour                 12316008
geohash_pickup               12316008
geohash_dropoff              12316008
airport_as_destination       12316008
FHV_count                    12316008
DATE                         12316008
DAILYSunrise                 12316008
DAILYSunset                  12316008
wind_speed_average           12316008
precipitation                12316008
snowfall                     12316008
snow_depth                   12316008
temperature_max              12316008
temperature_min              12316008
fastest_2minute_windspeed    12316008
fog                          12316008
heavy_fog                    12316008
ice_pellets                  12316008
glaze_rime                   12316008
smoke_haze                   12316008
mist                         12316008
drizzle                      12316008
ice_fog                      12316008
EVENT_TYPE                   12316008
year                         12316008
month                        12316008
dtype: int64

In [8]:
df.describe()

,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,hour,dayofyear,timerange,day_and_hour,airport_as_destination,...,heavy_fog,ice_pellets,glaze_rime,smoke_haze,mist,drizzle,ice_fog,EVENT_TYPE,year,month
count,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,...,1.231601e+07,1.231601e+07,12316008.0,1.231601e+07,12316008.0,12316008.0,12316008.0,1.231601e+07,12316008.0,12316008.0
mean,1.687719e+00,-7.397503e+01,4.075120e+01,-7.397452e+01,4.075171e+01,1.358647e+01,1.603880e+01,7.325861e+02,1.234043e+03,4.191618e-03,...,6.226116e-02,3.116895e-02,0.0,2.732590e-01,0.0,0.0,0.0,-6.623127e-01,2015.0,1.0
std,1.344598e+00,3.457108e-02,2.647299e-02,3.071693e-02,2.856598e-02,6.389069e+00,8.776715e+00,6.147616e+02,9.901577e+02,6.460688e-02,...,2.416293e-01,1.737741e-01,0.0,4.456327e-01,0.0,0.0,0.0,1.634780e+00,0.0,0.0
min,0.000000e+00,-7.402998e+01,4.063002e+01,-7.403000e+01,4.063000e+01,0.000000e+00,1.000000e+00,1.100000e+01,1.000000e+01,0.000000e+00,...,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.0,-1.000000e+00,2015.0,1.0
25%,1.000000e+00,-7.399188e+01,4.073727e+01,-7.399133e+01,4.073626e+01,9.000000e+00,9.000000e+00,3.660000e+02,2.490000e+02,0.000000e+00,...,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.0,-1.000000e+00,2015.0,1.0
50%,1.000000e+00,-7.398196e+01,4.075401e+01,-7.398030e+01,4.075436e+01,1.400000e+01,1.600000e+01,5.940000e+02,1.023000e+03,0.000000e+00,...,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.0,-1.000000e+00,2015.0,1.0
75%,2.000000e+00,-7.396805e+01,4.076792e+01,-7.396440e+01,4.076899e+01,1.900000e+01,2.300000e+01,9.360000e+02,2.112000e+03,0.000000e+00,...,0.000000e+00,0.000000e+00,0.0,1.000000e+00,0.0,0.0,0.0,-1.000000e+00,2015.0,1.0
max,9.000000e+00,-7.375115e+01,4.084999e+01,-7.375000e+01,4.085000e+01,2.300000e+01,3.100000e+01,4.318600e+04,3.123000e+03,1.000000e+00,...,1.000000e+00,1.000000e+00,0.0,1.000000e+00,0.0,0.0,0.0,8.000000e+00,2015.0,1.0

In [9]:
#not meaningful in this small time frame
df.drop(['glaze_rime', 'mist', 'drizzle', 'ice_fog', 'year', 'month'], axis=1, inplace=True)

In [10]:
df.describe()

,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,hour,dayofyear,timerange,day_and_hour,airport_as_destination,...,snowfall,snow_depth,temperature_max,temperature_min,fastest_2minute_windspeed,fog,heavy_fog,ice_pellets,smoke_haze,EVENT_TYPE
count,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,...,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07,1.231601e+07
mean,1.687719e+00,-7.397503e+01,4.075120e+01,-7.397452e+01,4.075171e+01,1.358647e+01,1.603880e+01,7.325861e+02,1.234043e+03,4.191618e-03,...,3.967590e-01,1.395193e+00,3.587210e+01,2.322080e+01,1.677939e+01,2.255311e-01,6.226116e-02,3.116895e-02,2.732590e-01,-6.623127e-01
std,1.344598e+00,3.457108e-02,2.647299e-02,3.071693e-02,2.856598e-02,6.389069e+00,8.776715e+00,6.147616e+02,9.901577e+02,6.460688e-02,...,1.097284e+00,2.522571e+00,7.602609e+00,8.292852e+00,4.308188e+00,4.179316e-01,2.416293e-01,1.737741e-01,4.456327e-01,1.634780e+00
min,0.000000e+00,-7.402998e+01,4.063002e+01,-7.403000e+01,4.063000e+01,0.000000e+00,1.000000e+00,1.100000e+01,1.000000e+01,0.000000e+00,...,0.000000e+00,0.000000e+00,2.100000e+01,8.000000e+00,1.010000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00
25%,1.000000e+00,-7.399188e+01,4.073727e+01,-7.399133e+01,4.073626e+01,9.000000e+00,9.000000e+00,3.660000e+02,2.490000e+02,0.000000e+00,...,0.000000e+00,0.000000e+00,3.200000e+01,1.700000e+01,1.410000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00
50%,1.000000e+00,-7.398196e+01,4.075401e+01,-7.398030e+01,4.075436e+01,1.400000e+01,1.600000e+01,5.940000e+02,1.023000e+03,0.000000e+00,...,0.000000e+00,0.000000e+00,3.700000e+01,2.000000e+01,1.500000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00
75%,2.000000e+00,-7.396805e+01,4.076792e+01,-7.396440e+01,4.076899e+01,1.900000e+01,2.300000e+01,9.360000e+02,2.112000e+03,0.000000e+00,...,0.000000e+00,1.000000e+00,4.000000e+01,3.100000e+01,2.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,-1.000000e+00
max,9.000000e+00,-7.375115e+01,4.084999e+01,-7.375000e+01,4.085000e+01,2.300000e+01,3.100000e+01,4.318600e+04,3.123000e+03,1.000000e+00,...,5.500000e+00,8.000000e+00,5.600000e+01,4.100000e+01,2.910000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,8.000000e+00

In [11]:
df.shape

(12316008, 29)

In [12]:
df.to_csv('final_clean_data_201501.csv')

In [13]:
if DEVELOPE:
    df = df.sample(frac=0.1)
else:
    pass
print ("Shape of data\n{}".format(df.shape))

Shape of data
(1231601, 29)

In [14]:
df.to_csv('final_clean_data_201501_shorter.csv')

In [15]:
if DEVELOPE:
    df = df.sample(frac=0.1)
else:
    pass
print ("Shape of data\n{}".format(df.shape))

Shape of data
(123160, 29)

In [16]:
df.to_csv('final_clean_data_201501_shortest.csv')