In [1]:
from __future__ import print_function, division
%matplotlib inline
import os
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import geopandas as gpd
import geohash_hilbert as ghh

In [2]:
#downloaded from TLC by month
df = pd.read_csv('data/fhv_tripdata_2015-04.csv')
print ("Shape of data\n{}".format(df.shape))
df.head()

Shape of data
(3917789, 3)

  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-04-01 04:30:00         NaN
1               B00001  2015-04-01 06:00:00         NaN
2               B00001  2015-04-01 06:00:00         NaN
3               B00001  2015-04-01 06:00:00         NaN
4               B00001  2015-04-01 06:15:00         NaN

In [3]:
df.columns

Index(['Dispatching_base_num', 'Pickup_date', 'locationID'], dtype='object')

In [4]:
df = df.drop(['locationID'], axis=1)
df.dropna(inplace=True)
df.head()

  Dispatching_base_num          Pickup_date
0               B00001  2015-04-01 04:30:00
1               B00001  2015-04-01 06:00:00
2               B00001  2015-04-01 06:00:00
3               B00001  2015-04-01 06:00:00
4               B00001  2015-04-01 06:15:00

In [5]:
df.shape

(3917789, 2)

## Aggregate by hour

In [6]:
df['Pickup_date'] = pd.to_datetime(df['Pickup_date'], format='%Y/%m/%d %H:%M:%S')

In [7]:
df.dtypes

Dispatching_base_num            object
Pickup_date             datetime64[ns]
dtype: object

In [8]:
df['Dispatching_base_num'].unique()

array(['B00001', 'B00008', 'B00009', 'B00013', 'B00014', 'B00035',
       'B00037', 'B00078', 'B00160', 'B00202', 'B00210', 'B00221',
       'B00225', 'B00227', 'B00235', 'B00236', 'B00248', 'B00254',
       'B00255', 'B00256', 'B00272', 'B00277', 'B00280', 'B00281',
       'B00310', 'B00346', 'B00373', 'B00381', 'B00411', 'B00412',
       'B00419', 'B00448', 'B00475', 'B00477', 'B00492', 'B00552',
       'B00608', 'B00619', 'B00623', 'B00628', 'b00639', 'B00652',
       'B00692', 'B00756', 'B00789', 'B00821', 'B00837', 'B00856',
       'b00881', 'B00882', 'B00888', 'b00906', 'B00911', 'B00932',
       'b00941', 'b00983', 'B00984', 'b01013', 'B01020', 'b01048',
       'B01069', 'B01087', 'B01129', 'B01148', 'B01176', 'B01177',
       'b01177', 'B01190', 'B01197', 'B01222', 'B01231', 'B01265',
       'B01280', 'B01292', 'B01306', 'B01308', 'B01311', 'B01313',
       'B01315', 'B01332', 'B01336', 'B01339', 'B01340', 'B01351',
       'B01362', 'B01367', 'B01386', 'B01391', 'B01392', 'B01398',
       'B01424', 'B01453', 'B01455', 'B01467', 'B01478', 'B01487',
       'B01492', 'B01506', 'B01509', 'B01514', 'B01525', 'B01537',
       'B01546', 'B01593', 'B01608', 'B01614', 'B01623', 'B01625',
       'B01626', 'B01631', 'B01635', 'B01644', 'B01667', 'B01672',
       'B01675', 'B01678', 'B01679', 'B01726', 'B01727', 'B01730',
       'B01733', 'B01734', 'B01738', 'B01741', 'B01742', 'B01745',
       'B01779', 'B01811', 'B01846', 'B01849', 'B01854', 'B01868',
       'B01871', 'B01875', 'B01876', 'B01877', 'B01899', 'B01912',
       'B01928', 'B01938', 'B01949', 'B01957', 'B01970', 'B01973',
       'B01979', 'B01980', 'B01990', 'B01995', 'B01998', 'B02003',
       'B02016', 'B02021', 'B02022', 'B02026', 'B02032', 'B02054',
       'B02067', 'B02073', 'B02096', 'B02099', 'B02106', 'B02110',
       'B02111', 'B02127', 'B02132', 'B02133', 'B02142', 'B02144',
       'B02147', 'B02155', 'B02157', 'B02167', 'B02182', 'B02191',
       'B02196', 'B02197', 'B02210', 'B02213', 'B02216', 'B02217',
       'B02240', 'B02248', 'B02252', 'B02253', 'B02265', 'B02277',
       'B02288', 'b02301', 'B02303', 'B02306', 'B02315', 'B02320',
       'B02342', 'B02376', 'B02377', 'B02378', 'B02379', 'B02389',
       'B02397', 'B02410', 'B02423', 'B02435', 'B02436', 'B02440',
       'B02447', 'B02468', 'B02469', 'B02470', 'B02471', 'B02485',
       'B02491', 'B02496', 'B02503', 'B02508', 'B02510', 'B02511',
       'B02512', 'B02517', 'B02524', 'B02532', 'B02535', 'B02541',
       'B02542', 'B02543', 'B02546', 'B02547', 'B02551', 'B02554',
       'B02556', 'B02563', 'B02564', 'B02566', 'B02590', 'B02594',
       'B02597', 'B02598', 'B02617', 'B02629', 'B02630', 'B02637',
       'B02638', 'B02644', 'B02653', 'B02655', 'B02657', 'B02664',
       'B02666', 'B02667', 'B02673', 'B02675', 'B02681', 'B02682',
       'B02686', 'B02687', 'B02688', 'B02689', 'B02695', 'B02702',
       'B02705                  ', 'B02710', 'B02712', 'B02716', 'B02718',
       'B02719', 'B02721', 'B02723', 'B02725', 'B02726', 'B02727',
       'B02731', 'B02745', 'B02751', 'B02753', 'B02754', 'B02764',
       'B02765', 'B02770', 'B02782', 'B02783', 'B02791', 'B02794',
       'B02800', 'B02808', 'B02809'], dtype=object)

In [9]:
df['hour'] = df['Pickup_date'].dt.hour
df['dayofyear'] = df['Pickup_date'].dt.dayofyear

In [10]:
df['day_and_hour'] = df['dayofyear'].astype(str) + '-' + df['hour'].astype(str)
df['FHV_count'] = pd.Series(np.ones(len(df)).T)

In [11]:
df.head()

,Dispatching_base_num,Pickup_date,hour,dayofyear,day_and_hour,FHV_count
0,B00001,2015-04-01 04:30:00,4,91,91-4,1.0
1,B00001,2015-04-01 06:00:00,6,91,91-6,1.0
2,B00001,2015-04-01 06:00:00,6,91,91-6,1.0
3,B00001,2015-04-01 06:00:00,6,91,91-6,1.0
4,B00001,2015-04-01 06:15:00,6,91,91-6,1.0

In [12]:
df = df.drop(['Dispatching_base_num'], axis=1)
df.dropna(inplace=True)
df.head()

          Pickup_date  hour  dayofyear day_and_hour  FHV_count
0 2015-04-01 04:30:00     4         91         91-4        1.0
1 2015-04-01 06:00:00     6         91         91-6        1.0
2 2015-04-01 06:00:00     6         91         91-6        1.0
3 2015-04-01 06:00:00     6         91         91-6        1.0
4 2015-04-01 06:15:00     6         91         91-6        1.0

df['day_and_hour'].unique()

In [13]:
dfsum = df.groupby(df['day_and_hour']).count()
dfsum.head()

              Pickup_date  hour  dayofyear  FHV_count
day_and_hour
100-0                4814  4814       4814       4814
100-1                2815  2815       2815       2815
100-10               5674  5674       5674       5674
100-11               5120  5120       5120       5120
100-12               5328  5328       5328       5328

In [14]:
dfsum.reset_index(inplace=True)
dfsum.head()

  day_and_hour  Pickup_date  hour  dayofyear  FHV_count
0        100-0         4814  4814       4814       4814
1        100-1         2815  2815       2815       2815
2       100-10         5674  5674       5674       5674
3       100-11         5120  5120       5120       5120
4       100-12         5328  5328       5328       5328

In [15]:
dfsum.drop(['Pickup_date', 'hour', 'dayofyear'], axis=1, inplace=True)
dfsum.shape

(720, 2)

In [16]:
dfsum.head()

  day_and_hour  FHV_count
0        100-0       4814
1        100-1       2815
2       100-10       5674
3       100-11       5120
4       100-12       5328

In [17]:
dfsum.to_csv('clean_FHV_data_04.csv')