In [1]:
from __future__ import print_function, division
%matplotlib inline
import statsmodels.formula.api as smf  
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd
import numpy as np
import geopandas as gpd
import os
import sys
from scipy import stats
from fiona.crs import from_epsg
import shapely
import geohash_hilbert as ghh

In [2]:
#nyc open data API, you need apptoken to run this cell
from sodapy import Socrata
client = Socrata("data.cityofnewyork.us", os.getenv("apptoken"))

# taxi 2015-01

In [3]:
results = client.get("2yzn-sicd",
                     select = "passenger_count, pickup_longitude, pickup_latitude, pickup_datetime, dropoff_datetime",
                     where="pickup_datetime > '2015-1-1T01:1:1.000' and pickup_datetime < '2015-2-1T01:1:1.000'",
                     limit=2000000)
df = pd.DataFrame.from_records(results)
df.head()

,dropoff_datetime,passenger_count,pickup_datetime,pickup_latitude,pickup_longitude
0,2015-01-01T01:25:10.000,1,2015-01-01T01:01:02.000,40.7596435546875,-73.972335815429687
1,2015-01-01T01:37:54.000,2,2015-01-01T01:01:02.000,40.740058898925781,-74.005821228027344
2,2015-01-01T01:45:04.000,2,2015-01-01T01:01:02.000,40.768486022949219,-73.984916687011719
3,2015-01-01T01:08:14.000,5,2015-01-01T01:01:02.000,40.75531005859375,-73.98358154296875
4,2015-01-01T01:31:47.000,1,2015-01-01T01:01:02.000,40.793972015380859,-73.970268249511719

In [4]:
df.shape

(2000000, 5)