In [1]:
from __future__ import print_function, division
%matplotlib inline
import os
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import geopandas as gpd

In [2]:
#FHV
df_fhv1 = pd.read_csv('data/clean_FHV_data_01.csv', index_col=0)
print ("Shape of data\n{}".format(df_fhv1.shape))
df_fhv1.head()

Shape of data
(706, 2)

   day_and_hour  FHV_count
0            10       7455
1           100       5080
2           101       3551
3          1010       3342
4          1011       3666

In [3]:
df_fhv2 = pd.read_csv('data/clean_FHV_data_02.csv', index_col=0)
print ("Shape of data\n{}".format(df_fhv2.shape))
df_fhv2.head()

Shape of data
(672, 2)

   day_and_hour  FHV_count
0           320       7049
1           321       5333
2          3210       3617
3          3211       4063
4          3212       4330

In [4]:
df_fhv3 = pd.read_csv('data/clean_FHV_data_03.csv', index_col=0)
print ("Shape of data\n{}".format(df_fhv3.shape))
df_fhv3.head()

Shape of data
(744, 2)

   day_and_hour  FHV_count
0           600       6694
1           601       5799
2          6010       3933
3          6011       4484
4          6012       4910

In [5]:
df_fhv4 = pd.read_csv('data/clean_FHV_data_04.csv', index_col=0)
print ("Shape of data\n{}".format(df_fhv4.shape))
df_fhv4.head()

Shape of data
(720, 2)

  day_and_hour  FHV_count
0        100-0       4814
1        100-1       2815
2       100-10       5674
3       100-11       5120
4       100-12       5328

In [6]:
df_fhv5 = pd.read_csv('data/clean_FHV_data_05.csv', index_col=0)
print ("Shape of data\n{}".format(df_fhv5.shape))
df_fhv5.head()

Shape of data
(744, 2)

  day_and_hour  FHV_count
0        121-0       4407
1        121-1       2823
2       121-10       6032
3       121-11       5920
4       121-12       5911

In [7]:
df_fhv6 = pd.read_csv('data/clean_FHV_data_06.csv', index_col=0)
print ("Shape of data\n{}".format(df_fhv6.shape))
df_fhv6.head()

Shape of data
(720, 2)

  day_and_hour  FHV_count
0        152-0       3035
1        152-1       2266
2       152-10       7011
3       152-11       7903
4       152-12       7146

In [8]:
df = pd.concat([df_fhv1, df_fhv2], ignore_index=True)
df = pd.concat([df, df_fhv3], ignore_index=True)
df = pd.concat([df, df_fhv4], ignore_index=True)
df = pd.concat([df, df_fhv5], ignore_index=True)
df = pd.concat([df, df_fhv6], ignore_index=True)

In [9]:
df.drop_duplicates(subset='day_and_hour', inplace=True)

In [10]:
df.shape

(4232, 2)

In [11]:
df.to_csv('data/agg_clean_FHV_201501_06.csv')