In [1]:
from __future__ import print_function, division
%matplotlib inline
import os
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import geopandas as gpd

In [2]:
#taxi
df1 = pd.read_csv('data/agg_clean_taxi_data_01.csv', index_col=0)
print ("Shape of data\n{}".format(df1.shape))
df1.head()

Shape of data
(23408, 5)

   dayofweek  dayofyear  day_and_hour  pickups geohash_pickup
0   Thursday         29          2914        1          SHBHR
1  Wednesday         21          2111        1          SHBI3
2   Saturday         10           109        1          SHBJ3
3     Sunday         11           116        1          SHBJ3
4     Monday         12          1210        1          SHBJ3

In [3]:
df1.drop_duplicates(inplace=True)
df1.shape

(23408, 5)

In [4]:
df2 = pd.read_csv('data/agg_clean_taxi_data_02.csv', index_col=0)
print ("Shape of data\n{}".format(df2.shape))
df2.head()

Shape of data
(23403, 5)

  dayofweek  dayofyear  day_and_hour  pickups geohash_pickup
0   Tuesday         55          5516        1          SHBIy
1    Sunday         32          3212        1          SHBJ3
2    Monday         33          3314        1          SHBJ3
3    Monday         33          3315        1          SHBJ3
4   Tuesday         34          3412        1          SHBJ3

In [5]:
df2.drop_duplicates(inplace=True)
df2.shape

(23403, 5)

In [6]:
df3 = pd.read_csv('data/agg_clean_taxi_data_03.csv', index_col=0)
print ("Shape of data\n{}".format(df3.shape))
df3.head()

Shape of data
(27591, 5)

  dayofweek  dayofyear  day_and_hour  pickups geohash_pickup
0    Monday         61           613        1          SHBHA
1    Sunday         60          6013        1          SHBJ3
2    Sunday         60          6017        1          SHBJ3
3    Monday         61          6118        1          SHBJ3
4   Tuesday         62          6213        1          SHBJ3

In [7]:
df3.drop_duplicates(inplace=True)
df3.shape

(27591, 5)

In [8]:
df4 = pd.read_csv('data/agg_clean_taxi_data_04.csv', index_col=0)
print ("Shape of data\n{}".format(df4.shape))
df4.head()

Shape of data
(26869, 5)

  dayofweek  dayofyear day_and_hour  pickups geohash_pickup
0    Friday        100       100-11        1          SHBJ3
1    Friday        100       100-15        1          SHBJ3
2    Friday        100        100-6        1          SHBJ3
3    Sunday        102       102-12        1          SHBJ3
4    Sunday        102        102-6        1          SHBJ3

In [9]:
df4.drop_duplicates(inplace=True)
df4.shape

(26869, 5)

In [10]:
df5 = pd.read_csv('data/agg_clean_taxi_data_05.csv', index_col=0)
print ("Shape of data\n{}".format(df5.shape))
df5.head()

Shape of data
(29522, 5)

  dayofweek  dayofyear day_and_hour  pickups geohash_pickup
0    Friday        142       142-22        1          SHBIR
1   Tuesday        139       139-13        1          SHBJ2
2  Thursday        141       141-14        1          SHBJ2
3    Friday        121        121-7        1          SHBJ3
4  Saturday        122       122-14        1          SHBJ3

In [11]:
df5.drop_duplicates(inplace=True)
df5.shape

(29522, 5)

In [12]:
df6 = pd.read_csv('data/agg_clean_taxi_data_06.csv', index_col=0)
print ("Shape of data\n{}".format(df6.shape))
df6.head()

Shape of data
(27477, 5)

  dayofweek  dayofyear day_and_hour  pickups geohash_pickup
0   Tuesday        181       181-15        1          SHBJ0
1    Monday        152       152-10        1          SHBJ3
2    Monday        152       152-11        1          SHBJ3
3    Monday        152       152-16        1          SHBJ3
4    Monday        152       152-18        1          SHBJ3

In [13]:
df6.drop_duplicates(inplace=True)
df6.shape

(27477, 5)

In [14]:
df = pd.concat([df1, df2], ignore_index=True)
df = pd.concat([df, df3], ignore_index=True)
df = pd.concat([df, df4], ignore_index=True)
df = pd.concat([df, df5], ignore_index=True)
df = pd.concat([df, df6], ignore_index=True)

In [15]:
df1.shape[0] + df2.shape[0] + df3.shape[0] + df4.shape[0] + df5.shape[0] + df6.shape[0]

158270

In [16]:
df.shape

(158270, 5)

In [17]:
df.to_csv('data/agg_clean_taxi_201501_06.csv')