In [1]:
from __future__ import print_function, division
%matplotlib inline
import os
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import geopandas as gpd
import geohash_hilbert as ghh

In [2]:
df = pd.read_csv('data/yellow_tripdata_2015_short.csv', index_col=0)
print ("Shape of data\n{}".format(df.shape))
df.head()

Shape of data
(770806, 18)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,total_amount
61599709,1,2015-05-12 17:46:38,2015-05-12 18:18:09,1,9.10,-73.863525,40.770012,1,N,-73.982628,40.736942,1,30.0,1.0,0.5,7.45,5.54,44.79
24871662,1,2015-02-27 06:03:22,2015-02-27 06:09:52,1,2.60,-74.008308,40.714573,1,N,-73.988518,40.748821,1,9.0,0.5,0.5,1.50,0.00,11.80
19662635,2,2015-02-15 11:23:13,2015-02-15 11:29:37,1,1.28,-73.956635,40.775738,1,N,-73.967468,40.761639,2,7.0,0.0,0.5,0.00,0.00,7.80
15273088,2,2015-02-05 18:36:07,2015-02-05 18:36:40,1,0.00,-73.974190,40.754951,5,N,-73.974167,40.754822,1,52.0,0.0,0.5,11.47,5.33,69.60
67295899,2,2015-06-06 22:18:20,2015-06-06 22:40:32,3,4.55,-73.973450,40.784496,1,N,-73.993279,40.732471,2,17.5,0.5,0.5,0.00,0.00,18.80

if DEVELOPE:
    df = df.sample(frac=0.01)
else:
    pass
print ("Shape of data\n{}".format(df.shape))

In [3]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'RateCodeID', 'store_and_fwd_flag',
       'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount'],
      dtype='object')

df['lonlat']=list(zip(df.pickup_longitude.astype(float), df.pickup_latitude.astype(float)))

In [4]:
df.reset_index(drop=True, inplace=True)

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,total_amount
0,1,2015-05-12 17:46:38,2015-05-12 18:18:09,1,9.10,-73.863525,40.770012,1,N,-73.982628,40.736942,1,30.0,1.0,0.5,7.45,5.54,44.79
1,1,2015-02-27 06:03:22,2015-02-27 06:09:52,1,2.60,-74.008308,40.714573,1,N,-73.988518,40.748821,1,9.0,0.5,0.5,1.50,0.00,11.80
2,2,2015-02-15 11:23:13,2015-02-15 11:29:37,1,1.28,-73.956635,40.775738,1,N,-73.967468,40.761639,2,7.0,0.0,0.5,0.00,0.00,7.80
3,2,2015-02-05 18:36:07,2015-02-05 18:36:40,1,0.00,-73.974190,40.754951,5,N,-73.974167,40.754822,1,52.0,0.0,0.5,11.47,5.33,69.60
4,2,2015-06-06 22:18:20,2015-06-06 22:40:32,3,4.55,-73.973450,40.784496,1,N,-73.993279,40.732471,2,17.5,0.5,0.5,0.00,0.00,18.80

df.lonlat.iloc[1]

In [6]:
#add a column of geohash to dataframe
geo = {}
for i in range(len(df)):
    value = ghh.encode(df.pickup_longitude.iloc[i], df.pickup_latitude.iloc[i], precision=5)
    geo[i] = value
s = pd.Series(geo, name='geohash')
geo = pd.DataFrame(s)
df = df.merge(geo, left_index=True, right_index=True)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,total_amount,geohash
0,1,2015-05-12 17:46:38,2015-05-12 18:18:09,1,9.10,-73.863525,40.770012,1,N,-73.982628,40.736942,1,30.0,1.0,0.5,7.45,5.54,44.79,SHG09
1,1,2015-02-27 06:03:22,2015-02-27 06:09:52,1,2.60,-74.008308,40.714573,1,N,-73.988518,40.748821,1,9.0,0.5,0.5,1.50,0.00,11.80,SHGCP
2,2,2015-02-15 11:23:13,2015-02-15 11:29:37,1,1.28,-73.956635,40.775738,1,N,-73.967468,40.761639,2,7.0,0.0,0.5,0.00,0.00,7.80,SHG1B
3,2,2015-02-05 18:36:07,2015-02-05 18:36:40,1,0.00,-73.974190,40.754951,5,N,-73.974167,40.754822,1,52.0,0.0,0.5,11.47,5.33,69.60,SHG1Y
4,2,2015-06-06 22:18:20,2015-06-06 22:40:32,3,4.55,-73.973450,40.784496,1,N,-73.993279,40.732471,2,17.5,0.5,0.5,0.00,0.00,18.80,SHBJ4

In [7]:
df.geohash.unique()

array(['SHG09', 'SHGCP', 'SHG1B', ..., 'SHGuJ', 'SHG3t', 'SHGEG'], dtype=object)

In [8]:
len(df.geohash.unique())

1109

## geohash JFK airport location

lat_range = [40.622813, 40.666056]
lon_range = [-73.835903, -73.739086]

lat_center = (lat_range[0] + lat_range[1]) / 2
lon_center = (lon_range[0] + lon_range[1]) / 2

In [9]:
lat_center = 40.647537
lon_center = -73.787931

In [10]:
lat_center, lon_center

(40.647537, -73.787931)

In [11]:
center = ghh.encode(lon_center, lat_center, precision=5)
center

'SHFkk'

In [12]:
df[df.geohash == center]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,total_amount,geohash
121,1,2015-05-29 16:43:56,2015-05-29 17:39:03,1,19.40,-73.786278,40.644199,1,N,-73.904037,40.820633,2,57.5,1.0,0.5,0.00,5.54,64.84,SHFkk
251,1,2015-04-26 20:55:00,2015-04-26 21:29:30,1,15.10,-73.789810,40.643921,1,N,-73.955750,40.617531,2,44.5,0.5,0.5,0.00,0.00,45.80,SHFkk
267,2,2015-04-19 07:07:44,2015-04-19 07:34:21,1,18.49,-73.784630,40.648617,2,N,-73.994781,40.725262,1,52.0,0.0,0.5,10.56,0.00,63.36,SHFkk
487,2,2015-04-06 11:28:58,2015-04-06 12:14:54,5,16.81,-73.791245,40.645691,2,N,-73.978142,40.753277,1,52.0,0.0,0.5,11.67,5.54,70.01,SHFkk
817,2,2015-04-30 16:48:54,2015-04-30 18:00:28,1,17.20,-73.789879,40.647209,2,N,-73.988708,40.722420,2,52.0,0.0,0.5,0.00,0.00,52.80,SHFkk
1040,2,2015-04-12 20:15:45,2015-04-12 20:50:41,1,17.73,-73.789787,40.647034,2,N,-73.946709,40.800278,1,52.0,0.0,0.5,11.67,5.54,70.01,SHFkk
1172,2,2015-05-05 09:59:01,2015-05-05 10:56:56,5,21.98,-73.786713,40.644276,2,N,-73.981888,40.773224,1,52.0,0.0,0.5,6.00,5.54,64.34,SHFkk
1507,2,2015-05-27 18:03:13,2015-05-27 18:48:28,1,10.67,-73.789497,40.647060,1,N,-73.949928,40.675598,1,39.0,1.0,0.5,8.16,0.00,48.96,SHFkk
1734,2,2015-03-13 12:03:21,2015-03-13 12:04:44,1,0.48,-73.789703,40.646233,1,N,-73.801231,40.646652,2,3.5,0.0,0.5,0.00,0.00,4.30,SHFkk
1803,1,2015-05-26 01:28:42,2015-05-26 01:59:00,1,12.20,-73.789948,40.646500,1,N,-73.975586,40.679039,1,35.5,0.5,0.5,4.00,0.00,40.80,SHFkk
1926,1,2015-05-05 15:30:17,2015-05-05 16:15:39,2,17.50,-73.785095,40.645744,2,N,-73.991547,40.754490,2,52.0,0.0,0.5,0.00,5.54,58.34,SHFkk
2527,2,2015-03-28 11:49:17,2015-03-28 12:36:53,1,18.08,-73.791534,40.645798,2,N,-73.978798,40.764271,2,52.0,0.0,0.5,0.00,0.00,52.80,SHFkk
2546,2,2015-05-03 19:18:52,2015-05-03 20:03:24,3,20.91,-73.790741,40.645283,2,N,-73.965714,40.752659,2,52.0,0.0,0.5,0.00,5.54,58.34,SHFkk
2578,2,2015-06-28 14:52:56,2015-06-28 15:39:58,1,17.75,-73.790260,40.643940,2,N,-73.969757,40.750580,1,52.0,0.0,0.5,11.67,5.54,70.01,SHFkk
3193,1,2015-04-09 15:41:05,2015-04-09 16:34:39,2,18.20,-73.790443,40.644268,2,N,-73.979652,40.762154,1,52.0,0.0,0.5,14.55,5.54,72.89,SHFkk
3331,1,2015-04-13 16:33:15,2015-04-13 17:32:43,1,19.50,-73.785538,40.649082,2,N,-74.009125,40.716522,1,52.0,0.0,0.5,10.56,0.00,63.36,SHFkk
3657,2,2015-05-02 06:47:42,2015-05-02 07:20:59,5,18.39,-73.791161,40.646149,2,N,-74.002182,40.726631,1,52.0,0.0,0.5,13.20,0.00,66.00,SHFkk
4125,1,2015-05-13 22:00:54,2015-05-13 22:36:07,1,18.80,-73.790367,40.644234,2,Y,-73.986732,40.729855,1,52.0,0.0,0.5,15.84,0.00,68.64,SHFkk
4158,2,2015-01-08 00:34:47,2015-01-08 01:04:30,1,17.85,-73.789909,40.646881,2,N,-73.965492,40.754414,1,52.0,0.0,0.5,11.47,5.33,69.60,SHFkk
4300,2,2015-03-21 20:47:21,2015-03-21 21:40:27,3,23.40,-73.789864,40.646767,1,N,-73.920395,40.882648,1,66.0,0.5,0.5,14.57,5.54,87.41,SHFkk
4394,1,2015-06-04 09:18:31,2015-06-04 10:11:58,2,17.50,-73.789757,40.646774,2,N,-73.988396,40.758694,2,52.0,0.0,0.5,0.00,5.54,58.34,SHFkk
4686,1,2015-06-21 22:41:19,2015-06-21 22:58:31,1,6.20,-73.789131,40.647209,1,N,-73.772308,40.706535,2,19.5,0.5,0.5,0.00,0.00,20.80,SHFkk
4891,2,2015-03-28 19:59:04,2015-03-28 20:34:01,1,20.35,-73.789467,40.647026,2,N,-73.956375,40.763157,1,52.0,0.0,0.5,11.67,5.54,70.01,SHFkk
4915,1,2015-01-17 17:34:08,2015-01-17 18:32:29,2,18.10,-73.789848,40.646729,2,N,-74.004951,40.735649,1,52.0,0.0,0.5,11.60,5.33,69.73,SHFkk
4970,1,2015-03-16 00:36:50,2015-03-16 01:00:31,2,17.90,-73.789040,40.647175,2,N,-73.982498,40.763020,2,52.0,0.0,0.5,0.00,5.33,58.13,SHFkk
5617,1,2015-01-16 21:09:36,2015-01-16 21:48:56,1,13.70,-73.790108,40.646717,1,N,-73.992233,40.683414,1,42.0,0.5,0.5,5.00,0.00,48.30,SHFkk
5824,2,2015-01-05 21:01:57,2015-01-05 21:24:38,1,13.36,-73.789932,40.645725,1,N,-73.758774,40.737415,2,37.0,0.5,0.5,0.00,0.00,38.30,SHFkk
6710,1,2015-06-18 20:07:13,2015-06-18 20:41:51,1,12.30,-73.788391,40.647018,1,N,-73.977470,40.676235,1,38.5,0.5,0.5,7.96,0.00,47.76,SHFkk
6764,2,2015-01-20 19:56:33,2015-01-20 20:33:35,1,18.54,-73.788170,40.643936,2,N,-73.971603,40.763271,1,52.0,0.0,0.5,11.63,5.33,69.76,SHFkk
6867,1,2015-04-10 10:30:46,2015-04-10 11:18:23,2,17.00,-73.790192,40.646698,2,N,-73.949715,40.797859,2,52.0,0.0,0.5,0.00,5.54,58.34,SHFkk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765195,1,2015-01-09 12:39:03,2015-01-09 13:12:07,1,17.20,-73.784286,40.648632,2,N,-73.985138,40.739098,1,52.0,0.0,0.5,14.50,5.33,72.63,SHFkk
765775,2,2015-05-09 12:29:16,2015-05-09 13:20:03,1,17.80,-73.789742,40.647030,2,N,-73.994919,40.715790,2,52.0,0.0,0.5,0.00,0.00,52.80,SHFkk
766043,1,2015-03-28 10:39:43,2015-03-28 11:14:47,2,17.00,-73.790115,40.646587,2,N,-73.981293,40.756344,2,52.0,0.0,0.5,0.00,5.54,58.34,SHFkk
766063,2,2015-04-10 06:32:35,2015-04-10 07:21:27,1,18.01,-73.784218,40.648632,2,N,-73.993813,40.728897,1,52.0,0.0,0.5,11.67,5.54,70.01,SHFkk
766173,1,2015-03-31 23:57:37,2015-04-01 00:28:48,2,17.80,-73.790436,40.646984,2,N,-73.975624,40.724018,1,52.0,0.0,0.5,10.00,5.54,68.34,SHFkk
766311,1,2015-03-15 08:39:51,2015-03-15 09:26:36,1,18.70,-73.791252,40.646492,2,Y,-73.978394,40.762325,2,52.0,0.0,0.5,0.00,5.33,58.13,SHFkk
766316,1,2015-05-22 23:02:51,2015-05-22 23:30:40,1,15.10,-73.790497,40.645954,1,N,-73.952339,40.745308,1,43.0,0.5,0.5,8.86,0.00,53.16,SHFkk
766326,1,2015-02-25 07:09:59,2015-02-25 08:18:37,1,17.20,-73.789421,40.646763,2,N,-73.975204,40.733032,1,52.0,0.0,0.5,5.00,5.33,63.13,SHFkk
766454,2,2015-04-14 08:07:12,2015-04-14 09:25:33,2,16.64,-73.790100,40.646858,2,N,-73.988884,40.744259,2,52.0,0.0,0.5,0.00,5.54,58.34,SHFkk
767086,2,2015-04-19 20:30:23,2015-04-19 21:13:17,1,17.34,-73.788902,40.644981,2,N,-73.977837,40.763451,2,52.0,0.0,0.5,0.00,5.54,58.34,SHFkk
767274,2,2015-01-06 23:34:09,2015-01-06 23:51:45,5,13.16,-73.792892,40.644974,1,N,-73.800056,40.783581,2,35.5,0.5,0.5,0.00,0.00,36.80,SHFkk
767467,1,2015-03-03 17:21:32,2015-03-03 18:36:21,1,17.40,-73.789886,40.646843,2,N,-73.993362,40.758560,1,52.0,0.0,0.5,14.50,5.33,72.63,SHFkk
767779,1,2015-03-04 15:56:13,2015-03-04 16:01:52,1,1.80,-73.789368,40.646439,1,N,-73.782860,40.648712,1,7.5,0.0,0.5,25.00,0.00,33.30,SHFkk
767902,2,2015-04-20 22:21:56,2015-04-20 22:55:33,1,18.14,-73.790199,40.647133,2,N,-74.003510,40.751503,1,52.0,0.0,0.5,11.67,5.54,70.01,SHFkk
768049,2,2015-06-21 17:10:55,2015-06-21 18:03:53,1,17.91,-73.784546,40.648724,2,N,-73.980553,40.764664,1,52.0,0.0,0.5,10.56,0.00,63.36,SHFkk
768051,1,2015-01-24 14:37:21,2015-01-24 15:01:15,1,15.90,-73.788254,40.647659,2,N,-73.974564,40.753090,1,52.0,0.0,0.5,11.62,5.33,69.75,SHFkk
768095,2,2015-01-16 14:50:15,2015-01-16 15:41:12,1,17.83,-73.784966,40.648548,2,N,-73.988014,40.719940,1,52.0,0.0,0.5,13.00,0.00,65.80,SHFkk
768177,2,2015-02-01 23:26:40,2015-02-01 23:57:12,1,19.21,-73.785583,40.646317,2,N,-73.955765,40.780697,2,52.0,0.0,0.5,0.00,5.33,58.13,SHFkk
768342,1,2015-02-04 13:15:56,2015-02-04 14:08:58,1,18.50,-73.792252,40.644909,2,N,-74.001389,40.726433,1,52.0,0.0,0.5,11.60,5.33,69.73,SHFkk
768846,2,2015-01-08 08:14:22,2015-01-08 09:13:08,3,18.23,-73.794250,40.644821,2,N,-73.955978,40.784641,1,52.0,0.0,0.5,0.00,5.33,58.13,SHFkk
768929,2,2015-06-11 11:32:50,2015-06-11 12:42:53,1,17.79,-73.790314,40.646206,1,N,-73.984924,40.697617,1,61.0,0.0,0.5,12.36,0.00,74.16,SHFkk
769017,2,2015-05-21 14:10:46,2015-05-21 15:21:15,1,16.68,-73.791443,40.645592,2,N,-73.977112,40.754490,1,52.0,0.0,0.5,11.67,5.54,70.01,SHFkk
769064,1,2015-05-01 19:11:23,2015-05-01 20:17:32,2,18.60,-73.790642,40.643997,2,N,-73.985291,40.759491,2,52.0,0.0,0.5,0.00,5.54,58.34,SHFkk
769346,2,2015-03-01 13:33:49,2015-03-01 14:16:43,1,15.48,-73.785866,40.645447,1,N,-73.950180,40.714119,1,44.5,0.0,0.5,9.06,0.00,54.36,SHFkk
769431,2,2015-05-31 07:33:06,2015-05-31 07:56:47,1,16.62,-73.789101,40.647285,1,N,-73.966438,40.711472,1,45.0,0.0,0.5,9.16,0.00,54.96,SHFkk
769544,2,2015-01-11 10:58:49,2015-01-11 11:26:05,6,17.01,-73.789650,40.646904,2,N,-73.972588,40.758888,1,52.0,0.0,0.5,11.47,5.33,69.60,SHFkk
769747,1,2015-02-20 13:40:25,2015-02-20 14:31:20,2,18.50,-73.790581,40.644035,2,N,-73.981117,40.755493,2,52.0,0.0,0.5,0.00,5.33,58.13,SHFkk
770606,2,2015-02-17 14:49:04,2015-02-17 15:31:53,5,23.86,-73.790749,40.644028,1,N,-73.908585,40.886913,2,65.5,0.0,0.5,0.00,5.33,71.63,SHFkk
770680,1,2015-03-16 18:17:30,2015-03-16 19:04:23,1,19.90,-73.790268,40.646610,2,N,-73.972580,40.785805,2,52.0,0.0,0.5,0.00,5.33,58.13,SHFkk
770797,2,2015-06-21 14:14:36,2015-06-21 15:14:49,1,18.46,-73.789154,40.647121,1,N,-73.981361,40.631123,2,59.0,0.0,0.5,0.00,0.00,59.80,SHFkk

#### LaGuardia Airport

In [13]:
lat_center = 40.773063
lon_center = -73.873289

In [14]:
lat_center, lon_center

(40.773063, -73.873289)

In [15]:
center = ghh.encode(lon_center, lat_center, precision=5)
center

'SHG0t'

In [16]:
df[df.geohash == center]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,total_amount,geohash
97,2,2015-01-25 14:49:08,2015-01-25 15:18:08,1,15.75,-73.872849,40.774136,1,N,-74.014114,40.709396,1,43.0,0.0,0.5,9.83,5.33,58.96,SHG0t
388,1,2015-04-08 23:55:28,2015-04-09 00:16:40,3,9.20,-73.874260,40.773876,1,N,-73.997246,40.755661,1,27.5,0.5,0.5,5.00,5.54,39.34,SHG0t
518,2,2015-03-12 17:48:34,2015-03-12 18:48:47,1,9.16,-73.874367,40.774029,1,N,-73.993408,40.745621,1,38.0,1.0,0.5,5.00,5.33,50.13,SHG0t
725,2,2015-04-21 17:36:31,2015-04-21 18:24:31,1,8.65,-73.873138,40.774120,1,N,-73.991379,40.750050,1,33.0,1.0,0.5,8.07,5.54,48.41,SHG0t
835,2,2015-02-19 22:19:09,2015-02-19 22:38:11,5,8.83,-73.873108,40.774021,1,N,-73.982857,40.756310,2,26.5,0.5,0.5,0.00,5.33,33.13,SHG0t
847,1,2015-03-19 11:54:58,2015-03-19 12:35:36,1,10.70,-73.872826,40.773998,1,N,-73.984413,40.759201,2,37.5,0.0,0.5,0.00,5.33,43.63,SHG0t
1043,1,2015-02-16 18:00:06,2015-02-16 18:20:02,1,8.80,-73.874527,40.774242,1,N,-73.973671,40.752998,1,25.5,0.0,0.5,6.30,5.33,37.93,SHG0t
1173,2,2015-04-29 15:32:21,2015-04-29 17:19:21,1,18.40,-73.875214,40.773888,2,N,-73.989433,40.759064,2,52.0,0.0,0.5,0.00,5.54,58.34,SHG0t
1222,2,2015-04-23 23:25:16,2015-04-23 23:46:10,1,10.56,-73.874695,40.774033,1,N,-74.006477,40.730915,1,31.5,0.5,0.5,5.00,0.00,37.80,SHG0t
1228,2,2015-01-23 16:41:04,2015-01-23 17:07:25,1,8.50,-73.873474,40.773884,1,N,-73.984245,40.745407,1,28.0,1.0,0.5,5.96,0.00,35.76,SHG0t
1248,1,2015-06-19 22:59:21,2015-06-19 23:39:25,2,10.70,-73.874557,40.774132,1,N,-73.983360,40.765182,1,36.5,0.5,0.5,10.78,5.33,53.91,SHG0t
1255,2,2015-06-21 17:38:20,2015-06-21 18:12:34,1,9.58,-73.874977,40.771461,1,N,-73.978043,40.782970,1,31.5,0.0,0.5,7.57,5.54,45.41,SHG0t
1279,2,2015-06-27 23:59:37,2015-06-28 00:25:18,1,9.11,-73.874435,40.773998,1,N,-73.970299,40.784019,1,29.0,0.5,0.5,8.96,5.54,44.80,SHG0t
1356,2,2015-05-26 22:45:24,2015-05-26 23:02:59,3,7.02,-73.874825,40.774055,1,N,-73.953888,40.745644,1,22.5,0.5,0.5,4.76,0.00,28.56,SHG0t
1629,2,2015-05-16 19:58:44,2015-05-16 20:01:43,5,0.40,-73.873062,40.774063,1,N,-73.875610,40.770344,2,4.0,0.5,0.5,0.00,0.00,5.30,SHG0t
1889,2,2015-04-24 17:57:51,2015-04-24 18:39:02,1,9.10,-73.874390,40.773979,1,N,-73.945122,40.778763,1,34.0,1.0,0.5,5.00,5.54,46.34,SHG0t
1938,2,2015-04-06 16:10:21,2015-04-06 16:48:05,2,7.64,-73.874634,40.774136,1,N,-73.985046,40.768532,1,28.5,1.0,0.5,6.06,0.00,36.36,SHG0t
2076,2,2015-02-16 16:55:59,2015-02-16 17:23:16,1,9.33,-73.872963,40.774014,1,N,-73.995865,40.720852,2,30.0,1.0,0.5,0.00,0.00,31.80,SHG0t
2096,1,2015-04-28 11:51:40,2015-04-28 12:13:07,1,11.10,-73.872154,40.774246,1,N,-73.973190,40.751408,1,32.0,0.0,0.5,7.66,5.54,46.00,SHG0t
2361,1,2015-04-06 12:27:50,2015-04-06 12:55:00,1,14.90,-73.873589,40.773949,1,N,-74.009789,40.709286,2,41.0,0.0,0.5,0.00,5.54,47.34,SHG0t
2401,1,2015-06-11 13:20:20,2015-06-11 13:54:13,1,9.70,-73.874390,40.774014,1,N,-73.974678,40.763153,2,33.0,0.0,0.5,0.00,5.54,39.34,SHG0t
2482,2,2015-05-31 15:27:21,2015-05-31 15:58:35,1,12.18,-73.872803,40.774166,1,N,-74.006439,40.708244,1,34.5,0.0,0.5,7.06,0.00,42.36,SHG0t
2599,2,2015-04-23 08:49:22,2015-04-23 09:42:22,6,9.68,-73.872932,40.774212,1,N,-73.973938,40.764320,2,38.0,0.0,0.5,0.00,5.54,44.34,SHG0t
2667,1,2015-02-06 11:44:05,2015-02-06 12:46:42,2,11.40,-73.874550,40.774132,1,N,-73.989174,40.764519,1,46.5,0.0,0.5,10.50,5.33,63.13,SHG0t
2676,1,2015-03-15 19:44:12,2015-03-15 20:04:05,2,7.40,-73.874481,40.774036,1,N,-73.951088,40.708893,1,23.5,0.0,0.5,5.00,0.00,29.30,SHG0t
2765,2,2015-03-11 15:43:32,2015-03-11 16:35:31,1,16.18,-73.873993,40.773796,1,N,-73.670158,40.740017,2,48.5,0.0,0.5,0.00,0.00,49.30,SHG0t
2780,2,2015-05-12 16:16:13,2015-05-12 16:55:01,5,7.61,-73.872482,40.774250,1,N,-73.977814,40.766418,1,30.0,1.0,0.5,7.95,0.00,39.75,SHG0t
2911,2,2015-01-29 09:25:29,2015-01-29 09:39:01,6,4.62,-73.873024,40.774105,1,N,-73.859573,40.744839,2,15.0,0.0,0.5,0.00,0.00,15.80,SHG0t
3375,1,2015-02-16 09:59:04,2015-02-16 10:13:18,1,8.20,-73.874397,40.774021,1,N,-73.973808,40.743862,1,23.5,0.0,0.5,5.92,5.33,35.55,SHG0t
3396,2,2015-01-12 23:55:43,2015-01-13 00:10:07,3,8.28,-73.873177,40.774101,1,N,-73.939453,40.824352,1,23.5,0.5,0.5,5.87,5.33,36.00,SHG0t
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765962,2,2015-03-15 19:27:48,2015-03-15 19:55:55,1,8.55,-73.874458,40.773968,1,N,-73.963631,40.794506,1,29.0,0.0,0.5,7.03,5.33,42.16,SHG0t
766164,1,2015-05-09 23:08:12,2015-05-09 23:24:25,1,6.30,-73.872879,40.773792,1,N,-73.860840,40.727798,1,20.0,0.5,0.5,4.26,0.00,25.56,SHG0t
766195,1,2015-03-01 22:46:30,2015-03-01 23:06:55,1,10.30,-73.872925,40.774170,1,N,-73.988228,40.732944,1,29.5,0.5,0.5,5.00,0.00,35.80,SHG0t
766626,1,2015-06-24 08:51:58,2015-06-24 09:21:59,1,9.30,-73.874443,40.774097,1,N,-73.971161,40.783070,1,29.5,0.0,0.5,7.15,5.54,42.99,SHG0t
766723,1,2015-02-06 14:45:05,2015-02-06 15:14:52,1,8.50,-73.872955,40.774185,1,N,-73.958168,40.769073,1,29.0,0.0,0.5,8.75,5.33,43.88,SHG0t
767134,2,2015-06-11 12:39:33,2015-06-11 12:57:33,1,3.10,-73.875877,40.773575,1,N,-73.906097,40.695057,2,14.0,0.0,0.5,0.00,0.00,14.80,SHG0t
767288,1,2015-01-12 13:05:28,2015-01-12 13:51:37,2,11.90,-73.873360,40.774208,1,N,-74.004234,40.669952,1,41.0,0.0,0.5,6.00,0.00,47.80,SHG0t
767601,2,2015-02-21 15:16:35,2015-02-21 15:52:55,1,9.55,-73.872963,40.774052,1,N,-73.983559,40.762913,1,32.0,0.0,0.5,9.53,5.33,47.66,SHG0t
767757,1,2015-01-16 21:34:01,2015-01-16 21:57:46,3,9.50,-73.873161,40.774052,1,N,-73.995193,40.752026,1,28.5,0.5,0.5,5.00,5.33,40.13,SHG0t
767829,1,2015-05-12 12:16:56,2015-05-12 12:45:57,1,8.60,-73.874611,40.774090,1,N,-73.985992,40.743546,1,29.0,0.0,0.5,8.80,5.54,44.14,SHG0t
767990,1,2015-06-29 11:21:21,2015-06-29 11:50:37,1,8.70,-73.872902,40.774101,1,N,-73.982735,40.756481,1,29.5,0.0,0.5,7.15,5.54,42.99,SHG0t
768003,2,2015-03-25 17:20:57,2015-03-25 18:11:42,2,10.99,-73.874748,40.773960,1,N,-73.891312,40.672821,1,36.5,1.0,0.5,7.66,0.00,45.96,SHG0t
768015,1,2015-05-02 14:14:01,2015-05-02 14:46:09,1,9.50,-73.873077,40.774227,1,N,-73.980904,40.764065,2,31.5,0.0,0.5,0.00,5.54,37.84,SHG0t
768032,2,2015-02-23 18:42:58,2015-02-23 19:17:57,1,11.52,-73.872871,40.774158,1,N,-73.979179,40.761841,1,36.0,1.0,0.5,8.63,5.33,51.76,SHG0t
768145,2,2015-06-28 19:33:25,2015-06-28 19:56:57,1,9.67,-73.874809,40.774109,1,N,-73.978683,40.787891,1,28.5,0.0,0.5,6.97,5.54,41.81,SHG0t
768220,2,2015-02-08 18:09:26,2015-02-08 18:38:55,6,12.41,-73.874756,40.774113,1,N,-74.013557,40.703972,1,36.0,0.0,0.5,5.00,0.00,41.80,SHG0t
768887,1,2015-02-25 13:17:18,2015-02-25 13:38:36,2,8.60,-73.874435,40.773983,1,N,-73.987244,40.742607,1,27.0,0.0,0.5,5.00,5.33,38.13,SHG0t
768917,1,2015-06-29 08:57:22,2015-06-29 09:14:09,1,5.50,-73.874428,40.774075,1,N,-73.870125,40.725533,2,18.0,0.0,0.5,0.00,0.00,18.80,SHG0t
768964,1,2015-03-10 18:57:36,2015-03-10 19:16:32,1,5.10,-73.872963,40.774139,1,N,-73.850838,40.728951,1,17.0,1.0,0.5,3.75,0.00,22.55,SHG0t
769409,2,2015-05-25 00:20:55,2015-05-25 00:44:37,1,11.78,-73.873077,40.774105,1,N,-73.986465,40.668983,2,34.5,0.5,0.5,0.00,0.00,35.80,SHG0t
769788,1,2015-04-07 17:22:40,2015-04-07 18:07:09,1,9.00,-73.872803,40.774532,1,N,-73.989822,40.758766,1,36.5,1.0,0.5,10.96,5.54,54.80,SHG0t
769867,1,2015-03-31 16:17:38,2015-03-31 16:54:56,2,9.30,-73.874420,40.774006,1,N,-73.981255,40.764111,2,33.0,1.0,0.5,0.00,0.00,34.80,SHG0t
769904,2,2015-02-04 20:22:24,2015-02-04 20:43:40,1,8.32,-73.872978,40.774017,1,N,-73.968681,40.754471,1,26.0,0.5,0.5,6.62,0.00,33.92,SHG0t
769909,2,2015-06-19 23:58:10,2015-06-20 00:06:26,1,3.03,-73.875244,40.773903,1,N,-73.921280,40.767033,1,11.0,0.5,0.5,2.46,0.00,14.76,SHG0t
769914,2,2015-04-27 16:20:41,2015-04-27 16:49:32,1,9.34,-73.873245,40.774158,1,N,-73.960861,40.757198,2,29.0,1.0,0.5,0.00,5.54,36.34,SHG0t
770143,2,2015-04-09 12:54:00,2015-04-09 13:22:50,1,8.40,-73.873383,40.774071,1,N,-73.972252,40.754028,1,29.0,0.0,0.5,8.84,5.54,44.18,SHG0t
770208,2,2015-06-29 10:47:25,2015-06-29 11:16:42,5,8.40,-73.873238,40.774101,1,N,-73.973213,40.754436,1,27.5,0.0,0.5,6.77,5.54,40.61,SHG0t
770277,1,2015-04-06 21:20:10,2015-04-06 21:43:52,1,10.70,-73.872307,40.774155,1,N,-74.000580,40.735706,1,32.0,0.5,0.5,6.65,0.00,39.95,SHG0t
770284,2,2015-02-25 15:16:17,2015-02-25 15:38:23,1,8.00,-73.872948,40.774189,1,N,-73.950829,40.770939,1,25.0,0.0,0.5,6.23,5.33,37.36,SHG0t
770660,1,2015-05-12 20:29:42,2015-05-12 20:48:59,1,11.80,-73.873032,40.774044,1,N,-73.978882,40.734547,1,33.0,0.5,0.5,7.95,5.54,47.79,SHG0t

#### Newark Liberty International Airport

In [17]:
lat_center = 40.691942
lon_center = -74.183390

In [18]:
lat_center, lon_center

(40.691942, -74.18339)

In [19]:
center = ghh.encode(lon_center, lat_center, precision=5)
center

'SHGTe'

In [20]:
df[df.geohash == center]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,total_amount,geohash
19172,1,2015-01-04 08:36:59,2015-01-04 09:23:23,3,24.70,-74.183372,40.693150,3,N,-73.872551,40.774536,2,85.5,0.0,0.0,0.00,15.08,100.88,SHGTe
32031,1,2015-01-14 11:18:26,2015-01-14 11:32:02,1,2.40,-74.186302,40.693142,1,N,-74.186302,40.693142,1,11.5,0.0,0.5,1.75,0.00,14.05,SHGTe
58773,2,2015-05-09 16:19:42,2015-05-09 16:20:00,1,0.00,-74.182930,40.692989,5,N,-74.182930,40.692989,1,73.0,0.0,0.0,0.00,17.55,90.85,SHGTe
112013,1,2015-01-22 07:31:26,2015-01-22 07:41:59,2,1.90,-74.186302,40.693142,1,N,-74.186302,40.693142,2,9.5,0.0,0.5,0.00,0.00,10.30,SHGTe
114432,1,2015-01-24 20:55:01,2015-01-24 20:59:40,2,0.90,-74.186302,40.693142,1,N,-74.186302,40.693142,1,5.5,0.5,0.5,1.36,0.00,8.16,SHGTe
129670,1,2015-02-06 13:16:59,2015-02-06 13:20:52,1,0.90,-74.186302,40.693142,1,N,-74.186302,40.693142,1,5.0,0.0,0.5,1.00,0.00,6.80,SHGTe
140054,1,2015-01-25 00:08:55,2015-01-25 00:20:19,3,1.00,-74.186302,40.693142,1,N,-74.186302,40.693142,1,8.5,0.5,0.5,1.96,0.00,11.76,SHGTe
239472,1,2015-01-13 13:26:55,2015-01-13 13:47:11,1,1.60,-74.186302,40.693142,1,N,-74.186302,40.693142,1,13.0,0.0,0.5,2.76,0.00,16.56,SHGTe
291601,1,2015-02-10 04:18:21,2015-02-10 04:29:19,2,3.70,-74.186302,40.693142,1,N,-74.186302,40.693142,1,12.5,0.5,0.5,1.00,0.00,14.80,SHGTe
319525,1,2015-01-15 08:49:55,2015-01-15 09:16:04,1,2.80,-74.186302,40.693142,1,N,-74.186302,40.693142,1,17.0,0.0,0.5,3.56,0.00,21.36,SHGTe
324191,1,2015-04-08 21:03:34,2015-04-08 21:23:14,1,4.10,-74.186302,40.693142,1,N,-74.186302,40.693142,1,17.0,0.5,0.5,3.66,0.00,21.96,SHGTe
330829,1,2015-03-19 16:34:52,2015-03-19 16:35:14,1,0.00,-74.186302,40.693142,2,N,-74.186302,40.693142,1,52.0,0.0,0.5,11.62,5.33,69.75,SHGTe
416333,2,2015-05-18 11:49:48,2015-05-18 11:49:50,0,0.00,-74.183052,40.687931,5,N,-74.183052,40.687939,1,89.0,0.0,0.5,10.00,0.00,99.80,SHGTe
418809,1,2015-01-16 20:42:28,2015-01-16 20:49:51,3,0.80,-74.186302,40.693142,1,N,-74.186302,40.693142,1,6.5,0.5,0.5,1.56,0.00,9.36,SHGTe
420853,1,2015-03-28 07:14:11,2015-03-28 07:19:18,2,1.20,-74.186302,40.693142,1,N,-74.186302,40.693142,1,6.0,0.0,0.5,0.80,0.00,7.60,SHGTe
448808,2,2015-06-18 08:31:55,2015-06-18 08:32:20,1,0.35,-74.185532,40.692863,5,N,-74.184090,40.691357,1,70.0,0.0,0.0,17.39,16.65,104.34,SHGTe
465804,1,2015-03-19 23:54:55,2015-03-19 23:55:16,1,32.00,-74.185043,40.689827,5,N,-74.185043,40.689827,1,178.5,0.0,0.0,20.00,0.00,198.80,SHGTe
485217,1,2015-06-21 00:20:59,2015-06-21 00:30:14,2,1.60,-74.186302,40.693142,1,N,-74.186302,40.693142,2,8.0,0.5,0.5,0.00,0.00,9.30,SHGTe
587989,1,2015-05-31 18:11:21,2015-05-31 18:11:43,1,5.30,-74.182114,40.688091,5,N,-74.182137,40.688087,1,55.0,0.0,0.0,16.55,0.00,71.85,SHGTe
624356,1,2015-02-09 12:42:14,2015-02-09 12:51:19,1,1.50,-74.186302,40.693142,1,N,-74.186302,40.693142,2,8.0,0.0,0.5,0.00,0.00,8.80,SHGTe
640866,1,2015-02-04 17:55:40,2015-02-04 18:32:39,1,7.50,-74.186302,40.693142,1,N,-74.186302,40.693142,1,28.0,1.0,0.5,7.02,5.33,42.15,SHGTe
686156,1,2015-01-08 02:16:41,2015-01-08 02:20:40,1,0.80,-74.186302,40.693142,1,N,-74.186302,40.693142,2,5.0,0.5,0.5,0.00,0.00,6.30,SHGTe
729831,1,2015-06-08 19:02:16,2015-06-08 19:03:07,1,0.00,-74.183472,40.688213,5,N,-74.182442,40.687763,1,95.0,0.0,0.0,19.05,0.00,114.35,SHGTe
732771,1,2015-06-20 03:29:12,2015-06-20 03:43:00,1,4.70,-74.186302,40.693142,1,N,-74.186302,40.693142,1,15.5,0.5,0.5,3.00,0.00,19.80,SHGTe
768402,1,2015-02-17 17:27:35,2015-02-17 17:41:13,1,2.10,-74.186302,40.693142,1,N,-74.186302,40.693142,2,10.5,1.0,0.5,0.00,0.00,12.30,SHGTe